<% layout('layouts/boilerplate') %>
<div class="mt-3 mb-3 text-center">
    <h3>채점기준을 수정해 주세요.</h3>
    <h5 class="text-muted">예) 에너지 방향 기준점수 3점 미만(0~2점) I, 3점 이상 E</h6>
</div>

<% for (let i=0; i<test.criteria.length; i++) { %> 
<div class="container mb-5 criterion" id="criterion-div-<%= i %>">
    <div class="row">
        <div
            class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 border rounded-3 border-2 border-primary mt-5 p-3">
            <div class="row mb-3 mt-5">
                <div class="col-10 offset-1">
                    <h6>채점기준 <span class="text-muted">예)에너지 방향</span></h6>
                    <input class="form-control criteria-name" id="criteria-name-<%= i %>" type="text" name="criteria[name]" 
                        value="<%= test.criteria[i].name %>">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-10 offset-1">
                    <h6>기준점수</h6>
                    <input class="form-control criteria-standard-score" id="criteria-standard-score-<%= i %>" type="number" min="0"
                        name="criteria[standardScore]" value="<%= test.criteria[i].standardScore %>">

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-10 offset-1">
                    <h6>기준점수 미만</h6>
                    <input class="form-control criteria-below-standard-is" id="criteria-below-standard-is-<%= i %>" type="text"
                        placeholder="type1" name="criteria[belowStandardIs]" 
                        value="<%= test.criteria[i].belowStandardIs %> ">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-10 offset-1">
                    <h6>기준점수 이상</h6>
                    <input class="form-control criteria-standard-and-above-is" id="criteria-standard-and-above-is-<%= i %>" type="text"
                        placeholder="type2" name="criteria[standardAndAboveIs]" 
                        value="<%= test.criteria[i].standardAndAboveIs %> ">
                </div>
                <div id="criteria-empty-input-alert-<%= i %>" class="col-10 offset-1 alert alert-primary my-4"
                    style="display: none;" role="alert">
                    모든 값을 입력한 후에 추가해 주세요.
                </div>
                <div id="criteria-same-input-alert-<%= i %>" class="col-10 offset-1 alert alert-primary mt-4"
                    style="display: none;" role="alert">
                    기준점수 미만과 기준점수 이상이 같은 값일 수 없습니다.
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4 mb-3 px-5 mx-4">
                <button id="delete-criteria-button-<%= i %>" class="btn btn-outline-primary text-wrap delete-criteria-button"
                    type="button">채점기준 삭제</button>
            </div>            
        </div>
    </div>
</div>
<% } %> 

<div class="d-flex justify-content-center mt-4 mb-5 px-5 mx-4">
    <button id="edit-criteria-button" class="btn btn-lg btn-outline-primary text-wrap mx-3"
    type="button">채점기준 수정 완료</button>
    <button id="add-criteria-button" class="btn btn-lg btn-outline-primary text-wrap mx-3"
    type="button">채점기준 추가</button>
</div>


<script src="/editTest/editCriteria.js"></script>