<% layout('layouts/boilerplate') %>
<div class="mt-3 mb-3 text-center">
    <h3>질문과 선택지를 입력해 주세요.</h3>
    <h5 class="text-muted px-5">예) 선택지1을 선택하면 채점기준인 '에너지방향'에 1점</h5>
    <h5 class="text-muted px-5"> 선택지2를 선택하면 채점기준인 '에너지방향'에 0점</h5>

</div>

<div id="all">
<% for (let i=0; i<test.questions.length; i++) { %> 
<div class="container mb-5 questions">
    <div class="row">
        <div
            class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 border rounded-3 border-2 border-primary mt-5 p-3">
            <div class="my-4 mx-4">
                <h6>질문</h6>
                <textarea required name="question[question]" id="question-<%= i %>" class="required required-<%= i %> col-12 form-control question" rows="2"
                    placeholder="예)처음 보는 사람을 만나면 나는..."><%= test.questions[i].question %></textarea>
            </div>
            <div class="my-4 mx-4">
                <h6>채점기준 <span class="text-muted">예) 에너지방향</span></h6>
                <select required id="option-criterion-select-<%= i %>" name="option[criterion]" class="required required-<%= i %> form-select criterion-select">
                    <option selected value="">선택</option>
                </select>
            </div>
            <div class="my-4 mx-4">
                <h6>선택지1</h6>
                <textarea required name="option[option-1]" id="option1-<%= i %>" class="required required-<%= i %> col-12 p-2 form-control option1" rows="2"
                    placeholder="예)먼저 말을 걸고 금방 친해진다."><%= test.questions[i].options[0].option %></textarea>
                <input required class="required required-<%= i %> form-control mt-1 option1-score" type="number" name="option[score]" id="option-score-1-<%= i %>"
                    placeholder="점수" min="0" value="<%= test.questions[i].options[0].score %>">
            </div>
            <div class="my-4 mx-4">
                <h6>선택지2</h6>
                <textarea required name="option[option-2]" id="option2-<%= i %>" class="required required-<%= i %> col-12 p-2 form-control option2" rows="2"
                    placeholder="예)먼저 다가가지 않는다."><%= test.questions[i].options[1].option %></textarea>
                <input required class="required required-<%= i %> form-control mt-1 option2-score" type="number" name="option[score]" id="option-score-2-<%= i %>"
                    placeholder="점수" min="0" value="<%= test.questions[i].options[1].score %>">
            </div>
            <div class="my-4 mx-4">
                <div id="question-empty-input-alert-<%= i %>" class="col-10 offset-1 alert alert-primary my-4"
                    style="display: none;" role="alert">
                    모든 값을 입력한 후에 추가해 주세요.
                </div>
                <div id="question-same-input-alert-<%= i %>" class="col-10 offset-1 alert alert-primary my-4"
                    style="display: none;" role="alert">
                    선택지1과 선택지2의 값이 같을 수 없습니다.
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4 mb-3 mx-4">
                <button id="delete-question-button-<%= i %>" class="btn btn-outline-primary text-wrap delete-question-button"
                    type="button">질문 삭제</button>
            </div>            
        </div>
    </div>
</div>
<% } %> 
</div>


<div class="container">
    <div class="row">
        <div id="no-question-alert" class="col-8 offset-2 alert alert-primary" role="alert" style="display: none;">
            적어도 한 개 이상의 질문이 있어야 합니다.
        </div>        
    </div>
</div>



<div class="d-flex justify-content-center mt-4 mb-5 px-5 mx-4">
    <button id="edit-question-button" class="btn btn-lg btn-outline-primary text-wrap mx-3"
    type="button">질문 수정 완료</button>
    <button id="add-question-button" class="btn btn-lg btn-outline-primary text-wrap mx-3"
    type="button">질문 추가</button>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/editTest/editQuestions.js"></script>