<% layout('layouts/boilerplate') %>
<div class="mt-5 mb-5 text-center">
    <h3>결과의 모든 경우의 수를 입력해 주세요.</h3>
    <h5 class="text-muted">모든 경우의 수가 입력되지 않으면 오류가 생길 수 있습니다.</h6>
</div>

<div id="all">
<% for (let i=0; i<test.results.length; i++) { %> 
<div class="container mb-3 results">
    <div class="row">
        <div
            class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 border rounded-3 border-2 border-primary mt-3 p-3">

            <div id="result-name-div-<%= i %>" class="my-4 mx-5">
                <h6>별명 <span class="text-muted">예)대담한 통솔자</span></h6>
                <input class="form-control required-<%= i %>" id="result-name-input-<%= i %>" type="text" required 
                    value="<%= test.results[i].resultName %>">
            </div>

            <div id="result-type-div-<%= i %>" class="my-4 mx-5">
                <h6>타입 <span class="text-muted">예) 에너지방향: E</span></h6>
            </div>

            <div class="my-4 mx-5" id="result-description-div-<%= i %>">
                <h6>설명 <span class="text-muted">예)통솔자형 사람은 천성적으로 타고난 리더로...</span></h6>
                <textarea id="result-description-textarea-<%= i %>" class="form-control required-<%= i %>"><%= test.results[i].description %></textarea>
            </div>

            <div class="my-4 mx-5" id="result-perfect-match-div-<%= i %>">
                <h6>최고의 궁합 <span class="text-muted">(선택사항)</span></h6>
                <input class="form-control perfect-match-name" type="text" id="result-perfect-match-name-<%= i %>"
                    placeholder="별명 예)사교적인 외교관" value="<%= test.results[i].perfectMatch.resultName %>">
                <textarea id="result-perfect-match-description-<%= i %>" class="form-control mt-2 perfect-match-description"
                    placeholder="설명 예)사교형 사람은 통솔자형 사람과..."><%= test.results[i].perfectMatch.description %></textarea>
            </div>

            <div class="my-4 mx-5" id="result-worst-match-div-<%= i %>">
                <h6>최악의 궁합 <span class="text-muted">(선택사항)</span></h6>
                <input class="form-control worst-match-name" type="text" id="result-worst-match-name-<%= i %>"
                    placeholder="별명 예)사교적인 외교관" value="<%= test.results[i].worstMatch.resultName %>">
                <textarea id="result-worst-match-description-<%= i %>"
                    class="form-control mt-2 worst-match-description" placeholder="설명 예)사교형 사람은 통솔자형 사람과..."><%= test.results[i].perfectMatch.description %></textarea>
            </div>

            <div class="d-flex justify-content-center my-3">
                <div id="result-empty-input-alert-<%= i %>" class="alert alert-primary my-3"
                    style="display: none;" role="alert">
                    모든 값을 입력한 후에 추가해 주세요.
                </div>
                <div id="result-same-input-alert-<%= i %>" class="alert alert-primary my-3"
                    style="display: none;" role="alert">
                    최고의 궁합과 최악의 궁합의 값이 같을 수 없습니다.
                </div>
            </div>
            
            <div class="d-flex justify-content-end mt-3 mb-3"> 
                <button class="btn btn-outline-primary text-wrap mx-5 delete-result-button"
                type="button">결과 삭제</button>
            </div>
        </div>
    </div>
</div>
<% } %> 
</div>


<div class="container">
    <div class="row">
        <div id="no-result-alert" class="col-8 offset-2 alert alert-primary" role="alert" style="display: none;">
            적어도 한 개 이상의 결과가 있어야 합니다.
        </div>        
    </div>
</div>



<div class="d-flex justify-content-center mt-4 mb-5 px-5 mx-4">
    <button id="edit-result-button" class="btn btn-lg btn-outline-primary text-wrap mx-3"
        type="button">결과 수정 완료</button>
    <button id="add-result-button" class="btn btn-lg btn-outline-primary text-wrap mx-3"
        type="button">결과 추가</button>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/editTest/editResults.js"></script>