<% layout('layouts/boilerplate') %>
<div class="container mb-5">
    <div class="row">
        <div class="mb-3 card col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-dark mt-2 p-3 mb-2">
            <div class="d-flex justify-content-center">
                <h3 class="mt-2 mb-2 fw-bold"><%= test.title %></h3>
            </div>    
            <div class="d-flex justify-content-center">
                <h5 class="mt-3 mb-2 text-muted"><%= test.description %></h5>
            </div>      
            <a href="/tests/<%= test._id %>/edit/titleDescription" class="btn btn-sm btn-dark mt-3 mx-5">제목, 설명 수정</a>
        </div>
        

        <div class="d-flex justify-content-center mt-5">
            <h4 class="text-primary fw-bold">채점기준</h4> 
            <div>
                <a href="/tests/<%= test._id %>/edit/criteria" class="btn btn-sm btn-primary mx-3">수정</a>
            </div>
        </div>
        <% for (c of test.criteria) { %> 
        <div class="mb-3 card col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-primary mt-2 p-3 mb-2">
            <div class="p-2">
                <h5>채점기준: <%= c.name %></h5>
                <h5>기준점수: <%= c.standardScore %> </h5>    
                <h5>기준점수 미만: <%= c.belowStandardIs %> </h5>    
                <h5>기준점수 이상: <%= c.standardAndAboveIs %> </h5>    
            </div>
        </div>
        <% } %> 


        <div class="d-flex justify-content-center mt-5">
            <h4 class="text-primary fw-bold">질문</h4>
            <div>
                <a href="/tests/<%= test._id %>/edit/questions" class="btn btn-sm btn-primary mx-3">수정</a>
            </div>
        </div>
        <% for (q of test.questions) { %>  
            <div class="mb-3 card col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-primary mt-2 p-3 mb-2">
                <div class="p-2">
                    <h5>질문: <%= q.question %></h5>
                    <h6>채점기준: <%= q.options[0].criterion %> </h6>    
                </div>
                <div class="border border-secondary rounded-3 m-1 p-2">
                    선택지1: <%= q.options[0].option %> <br>
                        점수: <%= q.options[0].score %> 
                </div>
                <div class="border border-secondary rounded-3 m-1 p-2">
                    선택지2: <%= q.options[1].option %> <br>
                        점수: <%= q.options[1].score %> 
                </div>
            </div>
        <% } %> 


        <div class="d-flex justify-content-center mt-5">
            <h4 class="text-primary fw-bold">결과</h4>
            <div>
                <a href="/tests/<%= test._id %>/edit/results" class="btn btn-sm btn-primary mx-3">수정</a>
            </div>
        </div>
        <% for (r of test.results) { %>  
            <div class="mb-3 card col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-primary mt-2 p-3 mb-2">
                <div class="p-2 d-flex justify-content-center">
                    <h5><%= r.resultName %></h5>
                </div>
                <div class="d-flex justify-content-center">
                    <h6>유형: <%= r.resultType %> </h6>    
                </div>
                <div class="border border-secondary rounded-3 m-1 p-2">
                    <%= r.description %>
                </div>
                <% if(r.perfectMatch.resultName) { %> 
                    <div class="border border-secondary rounded-3 m-1 p-2">
                        <h5>최고의궁합: <%= r.perfectMatch.resultName %></h5>
                        <br>
                        <%= r.perfectMatch.description %> 
                    </div>
                <% } %>
                <% if(r.worstMatch.resultName) { %> 
                    <div class="border border-secondary rounded-3 m-1 p-2">
                        <h5>최악의궁합: <%= r.worstMatch.resultName %></h5>
                        <br>
                        <%= r.worstMatch.description %> 
                    </div>
                <% } %>    
            </div>
        <% } %> 


    </div>
</div>